@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Ms+Madi&family=Sacramento&family=Waterfall&family=Yellowtail&display=swap");
@font-face {
  font-family: "Geomanist";
  src: url("../fonts/Geomanist.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mulish", serif;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* message icon */
.message-icon {
  position: fixed;
  background: black;
  right: 6px;
  bottom: 3px;
  color: white;
  width: 60px;
  font-size: 27px;
  border-radius: 50%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  z-index: 2000;
}
.message-icon i {
}

/* mobile menu */
.mobile-menu {
  display: none;
}
/* mobile menu responsive */
@media (max-width: 1200px) {
  .close-nav {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 28px;
    cursor: pointer;
  }
  .mobile-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1500;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 60px 42px 0;
    display: none;
  }
  .mobile-menu li {
    padding: 4px 0 10px;
    border-bottom: 1px solid #ddd;
    position: relative;
    display: block;
  }
  .mobile-menu li:nth-last-child(1) {
    border-bottom: none;
  }
  .mobile-menu li a {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: rgb(8, 65, 92);
    justify-content: space-between;
  }
  .mobile-menu li a img {
    position: relative;
    top: 3px;
  }

  .m-mega-menu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    background: white;
    column-gap: 20px;
    z-index: 1500;
  }
  .m-menu-items {
    /* display: flex;
    flex-direction: column;
    row-gap: 12px; */
  }
  .m-menu-items a {
    font-size: 17px !important;
    font-weight: 700 !important;
    color: rgb(70, 112, 133) !important;
    display: flex;
    justify-content: flex-start !important;
    column-gap: 10px;
  }
  .m-menu-items ul {
  }
  .m-menu-items ul li {
  }
  .m-menu-items ul li a {
    font-size: 15px !important;
    font-weight: 400 !important;
    color: black !important;
  }
  .m-menu-items ul li a:hover {
    color: rgb(245, 70, 126);
  }
}

/* header section */
.header-section {
  border-bottom: 1px solid #ddd;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  padding: 15px 0;
  background: white;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 32px;
  align-items: center;
}
.logo {
}
.logo img {
  max-width: 99px;
}
.logo svg {
  max-width: 99px;
}
.menu {
  display: flex;
  column-gap: 17px;
  align-items: center;
}
.menu li {
}
.menu li a {
  display: flex;
  column-gap: 2px;
  align-items: center;
  color: black;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  cursor: pointer;
}
.menu li a:hover {
  color: rgb(245, 70, 126);
}

/* mega-menu */
.mega-menu {
  padding: 20px;
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 999;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* Column distribution */
  border-bottom: 1px solid #ddd;
  display: none;
}
.mega-menu-left {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  background-color: #f8f9fb;
  padding: 8px 6px;
  border-radius: 9px;
}
.mega-menu-left p {
  font-size: 16px;
  font-weight: 700;
  color: rgb(70, 112, 133);
}
.e-s-g,
.e-s-m {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 8px 15px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  background-color: white;
}
.e-s-g:hover,
.e-s-m:hover {
  border: 1px solid #ff0000;
}
.e-s-g h3,
.e-s-m h3 {
  font-size: 16px;
  font-weight: 700;
  color: rgb(8, 65, 92);
}
.e-s-g p,
.e-s-m p {
  font-size: 14px;
  font-weight: 400;
  color: rgb(70, 112, 133);
}
.e-s-g a,
.e-s-m a {
  font-size: 10px !important;
  font-weight: 500 !important;
  padding: 1px 3px;
  border: 1px solid black;
  width: 85px;
  text-align: center;
}
.mega-menu-middle {
  display: flex;
  justify-content: space-around;
}
.by-platform {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}
.by-platform a {
  display: flex !important;
  column-gap: 6px !important;
  font-size: 16px;
  font-weight: 700;
  color: rgb(70, 112, 133);
}
.by-platform a i {
}
.mega-menu-middle ul {
}
.mega-menu-middle ul li {
}
.mega-menu-middle ul li a {
  font-size: 14px !important;
  font-weight: 400 !important;
}
.mega-menu-right {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}
.mega-menu-right p {
  color: rgb(70, 112, 133);
  font-size: 16px;
  font-weight: 700;
}
.m-m-r {
  background: #f8f9fb;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  border-radius: 11px;
  padding: 3px 2px;
}
.m-m-r img {
}
.m-m-r p {
}
.m-m-r a {
}
.menu-btns {
  display: flex;
  column-gap: 26px;
  align-items: center;
}
.menu-btns a {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: black;
}
.sign-in-btn {
  background: #f5467e;
  color: white !important;
  padding: 6px 24px;
  border-radius: 25px;
}
.sign-in-btn:hover {
  background: #ec4378;
}

.toggle-nav {
  display: none;
  cursor: pointer;
}
.toggle-nav i {
  font-size: 23px;
}
@media (max-width: 1200px) {
  .menu,
  .menu-btns {
    display: none;
  }
  .toggle-nav {
    display: block;
  }
  .mega-menu {
    display: none !important;
  }
}
/* hero section */
.hero-section {
  margin-top: 100px;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  row-gap: 21px;
  margin: 20px 2px;
}
.hero h3 {
  font-size: 50px;
  line-height: 58px;
  color: rgb(8, 65, 92);
  font-weight: 700;
  font-family: "Geomanist";
}
.hero p {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: rgb(8, 65, 92);
  max-width: 580px;
  margin: 0 auto;
  text-align: center;
}
.hero p span {
  font-weight: 700;
}
.hero h4 {
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  color: rgb(8, 65, 92);
  text-align: center;
}
.hero h4 span {
  font-weight: 700;
}
.hero h4 a {
  color: #f5467e;
}
.signature-container {
  width: 415px;
  height: 245px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);

  border: 1px solid #ccc;
  position: relative;
}

canvas {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 8px;
  background-color: #f8f8f8;
}
canvas {
  touch-action: none;
}

.clear,
.undo {
  cursor: pointer;
}
.signature-features {
  max-width: 810px;
  margin: 0 auto;
  display: flex;
  column-gap: 183px;
  align-items: center;
}
.feature-left {
}
.s-toggle {
  display: flex;
  column-gap: 5px;
  align-items: center;
}
.s-toggle button {
}

/* The switch - the box around the slider */
.s-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.s-switch .s-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.s-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.s-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.s-checkbox:checked + .s-slider {
  background-color: #2196f3;
}

.s-checkbox:focus + .s-slider {
  box-shadow: 0 0 1px #2196f3;
}

.s-checkbox:checked + .s-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.s-slider.s-round {
  border-radius: 34px;
}

.s-slider.s-round:before {
  border-radius: 50%;
}
.s-toggle .sketch {
  font-size: 23px;
}
.s-toggle .keyboard {
  font-size: 23px;
}
.feature-right {
  display: flex;
  column-gap: 4px;
}
.feature-right div {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  line-height: 24px;
  text-align: center;
}
.color-box {
  display: inline-block;
  border: none;
  cursor: pointer;
  margin: 2px;
}
.feature-right div i {
  font-size: 25px;
}
.text-signature {
  max-width: 820px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
  display: none;
}
.write-signature {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.write-signature label {
  font-size: 16px;
  font-weight: 400;
  color: rgb(8, 65, 92);
}
.write-signature input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.w-font {
  font-size: 40px;
  background-color: #ccc;
  border-radius: 12px;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid transparent;
}
.great-vibes {
  font-family: "Great Vibes", cursive;
}
.ms-madi {
  font-family: "Ms Madi", cursive;
}
.sacra {
  font-family: "Sacramento", cursive;
}
.yellowtail {
  font-family: "Yellowtail", cursive;
}
.waterfall {
  font-family: "Waterfall", cursive;
}
.feature-btns {
  display: flex;
  column-gap: 18px;
  align-items: center;
}

.f-download {
  color: #f5467e;
  border: 2px solid #f5467e;
  padding: 14px 36px;
  border-radius: 4px;
  background: white;
  font-size: 15px;
  cursor: pointer;
}
.f-add {
  background-color: #f5467e;
  border: 2px solid #f5467e;
  color: white;
  padding: 12px 26px;
  border-radius: 4px;
}

/* hero section responsive */
@media (max-width: 768px) {
  .hero h3 {
    font-size: 36px;
  }
  .hero p {
    font-size: 18px;
    line-height: 29px;
  }
  .hero h4 {
    font-size: 16px;
  }
  .f-add {
    display: none;
  }
  .signature-features {
    flex-direction: column;
    row-gap: 12px;
  }
  .text-signature {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 520px) {
  .signature-container {
    width: 100%;
  }
  .hero h3 {
    font-size: 20px;
  }
  .text-signature {
    grid-template-columns: 1fr;
  }
  .w-font {
    font-size: 25px;
    padding: 5px 8px;
    text-align: center;
  }
}

/* signature-section */
.signature-section {
  padding: 0 10px;
  margin: 100px 0 60px;
}
.signature-top {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
}
.signature-top h4 {
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
  color: rgb(8, 65, 92);
  text-align: center;
}
.signature-top p {
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  color: rgb(8, 65, 92);
  text-align: center;
  max-width: 830px;
  margin: 0 auto;
}
.signature-top h5 {
  color: rgb(8, 65, 92);
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
}
.signature-bottom {
  margin-top: 37px;
}
.all-signature {
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 19px;
}
.single-signature {
}
.single-signature img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 5px;
}
.single-signature p {
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  color: rgb(8, 65, 92);
}

/*  signature section responsive*/
@media (max-width: 768px) {
  .signature-top h4 {
    font-size: 23px;
    line-height: 22px;
  }
  .signature-top p {
    font-size: 17px;
    line-height: 26px;
  }
  .signature-top h5 {
    font-size: 26px;
    line-height: 29px;
  }
  .all-signature {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .single-signature img {
    width: 100%;
  }
}

/* video-section */
.video-section {
  background-color: #f8f9fb;
}
.video {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 60px;
  padding: 60px 20px;
}
.video-left {
  position: relative;
  width: 60%;
  border-radius: 25px;
  overflow: hidden;
}
.video-left img {
}
.play-btn {
  position: absolute;
  height: 66px;
  width: 95px;
  left: 50%;
  display: flex;
  border-radius: 13px;
  top: 50%;
  background: #807e7e;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
}
.play-btn:hover {
  background-color: red;
}
.play-btn i {
  font-size: 47px;
}

.video-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.video-right h4 {
  font-size: 38px;
  line-height: 44px;
  color: rgb(8, 65, 92);
  font-family: "Geomanist";
  font-weight: 700;
}
.video-right p {
  color: rgb(8, 65, 92);
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
}

/* video section responsive */
@media (max-width: 1000px) {
  .video-right h4 {
    font-size: 31px;
    line-height: 36px;
  }
  .video-right p {
    font-size: 17px;
    line-height: 26px;
  }
  .video-right {
    row-gap: 21px;
  }
}
@media (max-width: 768px) {
  .video {
    flex-direction: column;
    row-gap: 62px;
  }
  .video-left {
    width: 100%;
  }
  .video-right {
    width: 100%;
  }
}

/* template-section */
.template-section {
}
.template {
  padding: 50px 5px;
}
.template-top {
  display: flex;
  flex-direction: column;
  row-gap: 23px;
}
.template-top h4 {
  font-size: 38px;
  line-height: 44px;
  color: rgb(8, 65, 92);
  font-weight: 600;
  font-family: "Geomanist";
  text-align: center;
}
.template-top p {
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  color: rgb(8, 65, 92);
  text-align: center;
}
.template-bottom {
  background-color: #f8f9fb;
  max-width: 1170px;
  margin: 0 auto;
  padding: 20px 20px;
  border-radius: 12px;
}
.all-template {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
  padding: 16px;
  align-items: center;
}

.single-template {
  position: relative;
}

.single-template img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border: 1px solid #ddd;
}

.single-template img:hover {
  transform: scale(1.05);
}

/* Styles for larger images */
.single-template.wide {
}

.single-template.tall {
  grid-row: auto/span 2;
}
.template-btn {
  margin-top: 40px;
  text-align: center;
}
.template-btn a {
  background-color: #f5467e;
  border: 2px solid #f5467e;
  color: white;
  padding: 12px 26px;
  font-size: 16px;
  border-radius: 4px;
}
/* template section responsive*/
@media (max-width: 500px) {
  .template-btn a {
    padding: 5px 16px;
    font-size: 11px;
  }
  .template-top h4 {
    font-size: 17px;
    line-height: 22px;
  }
}

/* faqs-section */
.faqs-section {
}
.faqs {
  max-width: 1175px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  padding: 40px 10px;
}
.faq-top {
}
.faq-top h1 {
  font-size: 38px;
  line-height: 44px;
  font-weight: 600;
  color: rgb(8, 65, 92);
  font-family: "Geomanist";
}
.all-faqs {
  display: flex;
  column-gap: 20px;
}
.faqs-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.faqs-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.single-faq {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.single-faq h4 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: rgb(8, 65, 92);
  font-family: "Geomanist";
}
.single-faq p {
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  color: rgb(8, 65, 92);
}
.single-faq ul {
  list-style: circle;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.single-faq ul li {
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  color: rgb(8, 65, 92);
}
.single-faq ul li span {
  font-weight: 700;
}

/* faqs section responsive */
@media (max-width: 768px) {
  .all-faqs {
    flex-direction: column;
  }
  .faqs-left,
  .faqs-right {
    width: 100%;
  }
  .faqs {
    padding: 40px 100px;
  }
}
@media (max-width: 600px) {
  .faqs {
    padding: 40px 20px;
  }
}

/* footer section */
.footer-section {
  background-color: #08415c;
  color: white;
}
.footer {
  padding: 50px 20px;
}
.footer-top {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 12px;
}
.footer-details {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.footer-details p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
.footer-details .footer-social {
  display: flex;
  column-gap: 11px;
}
.footer-details .footer-social a {
  color: white;
  font-size: 16px;
  width: 27px;
  height: 27px;
  text-align: center;
  line-height: 27px;
  border-radius: 50%;
  border: 1px solid #fff;
}
.footer-details .footer-social a i {
}
.footer-top h3 {
  font-size: 18px;
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer-top h3 img {
  display: none;
}
.footer-top ul {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}
.footer-top ul li {
}
.footer-top ul li a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: white;
}
.product,
.resources,
.create-signature,
.wise-stamp,
.contact-us {
}

.footer-middle {
  padding: 29px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-middle p {
  font-size: 14px;
  font-weight: 400;
}
.footer-address {
}
.footer-btn {
}
.footer-btn a {
  background-color: rgb(245, 70, 126);
  padding: 5px 6px;
  border-radius: 12px;
  color: white;
}
.footer-btn a img {
  position: relative;
  top: 7px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5px;
}
#language {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  outline: none;

  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Hover and focus effects */
#language:hover,
#language:focus {
  border-color: #007bff;
  background-color: transparent;
  color: #007bff;
}
.footer-menu {
}
.footer-menu ul {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.footer-copy {
  font-size: 14px;
  font-weight: 400;
}
.footer-menu ul li {
  padding-right: 6px;
  border-right: 1px solid #fff;
}
.footer-menu ul li a {
  font-size: 14px;
  font-weight: 400;
  color: white;
}
/* footer section responsive */
@media (max-width: 1200px) {
  .footer-top {
    grid-template-columns: auto repeat(4, 1fr);
    row-gap: 40px;
  }
  .footer-details {
    grid-column: 1/-1;
  }
}
@media (max-width: 1000px) {
  .footer-top ul li a {
    font-size: 14px;
    line-height: 10px;
  }
  .footer-top h3 {
    font-size: 16px;
    line-height: 18px;
  }
  .footer-middle {
    flex-direction: column;
    row-gap: 14px;
    padding: 9px 0;
  }
  .footer-middle p {
    padding: 10px 0;
    border-top: 1px solid #fff;
    width: 100%;
    text-align: center;
    padding-bottom: 2px;
  }
  .footer-bottom {
    flex-direction: column;
    row-gap: 14px;
  }
  .footer-menu ul {
    flex-direction: column;
    row-gap: 7px;
  }
  .footer-menu ul li {
    border-right: 0;
  }
}
@media (max-width: 768px) {
  .footer-top {
    grid-template-columns: 1fr;
    row-gap: 0px;
  }
  .product,
  .footer-details,
  .resources,
  .create-signature,
  .wise-stamp,
  .contact-us {
    padding: 17px 0;
    border-top: 1px solid #fff;
  }
  .footer-top h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0;
    cursor: pointer;
    font-size: 20px;
  }
  .footer-top h3 img {
    display: block;
    color: white;
  }

  /* display visible menus */
  .product ul {
    display: block;
  }
  .footer-top ul {
    display: flex;
    flex-direction: column;
    row-gap: 13px;
    display: none;
  }

  .footer-top ul li {
  }
  .footer-top ul li a {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .footer-btn {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
}
