@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@font-face {
  font-family: "Geomanist";
  src: url("../fonts/Geomanist.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mulish", serif;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.header-section {
  border-bottom: 1px solid #ddd;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  background: white;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 32px;
  align-items: center;
}
.logo {
}
.logo img {
  max-width: 99px;
}
.logo svg {
  max-width: 99px;
}
.menu {
  display: flex;
  column-gap: 17px;
  align-items: center;
}
.menu li {
}
.menu li a {
  display: flex;
  column-gap: 2px;
  align-items: center;
  color: black;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}
.menu li a:hover {
  color: rgb(245, 70, 126);
}
.menu-btns {
  display: flex;
  column-gap: 26px;
  align-items: center;
}
.menu-btns a {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: black;
}
.sign-in-btn {
  background: #f5467e;
  color: white !important;
  padding: 6px 24px;
  border-radius: 25px;
}
.sign-in-btn:hover {
  background: #ec4378;
}

.toggle-nav {
  display: none;
  cursor: pointer;
}
.toggle-nav i {
  font-size: 23px;
}
@media (max-width: 1200px) {
  .menu,
  .menu-btns {
    display: none;
  }
  .toggle-nav {
    display: block;
  }
}
/* hero section */
.hero-section {
  margin-top: 100px;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  row-gap: 21px;
  margin: 20px 2px;
}
.hero h3 {
  font-size: 50px;
  line-height: 58px;
  color: rgb(8, 65, 92);
  font-weight: 700;
  font-family: "Geomanist";
}
.hero p {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: rgb(8, 65, 92);
  max-width: 580px;
  margin: 0 auto;
  text-align: center;
}
.hero p span {
  font-weight: 700;
}
.hero h4 {
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  color: rgb(8, 65, 92);
  text-align: center;
}
.hero h4 span {
  font-weight: 700;
}
.hero h4 a {
  color: #f5467e;
}
.signature-container {
  width: 415px;
  height: 245px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);

  border: 1px solid #ccc;
  position: relative;
}

canvas {
  width: 100%;
  height: 100%;
  cursor: crosshair;
  border-radius: 8px;
  background-color: #f8f8f8;
}
canvas {
  touch-action: none;
}
.clear,
.undo {
  cursor: pointer;
}
.signature-features {
  max-width: 810px;
  margin: 0 auto;
  display: flex;
  column-gap: 183px;
  align-items: center;
}
.feature-left {
}
.s-toggle {
  display: flex;
  column-gap: 5px;
  align-items: center;
}
.s-toggle button {
}

/* The switch - the box around the slider */
.s-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.s-switch .s-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.s-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.s-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.s-checkbox:checked + .s-slider {
  background-color: #2196f3;
}

.s-checkbox:focus + .s-slider {
  box-shadow: 0 0 1px #2196f3;
}

.s-checkbox:checked + .s-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.s-slider.s-round {
  border-radius: 34px;
}

.s-slider.s-round:before {
  border-radius: 50%;
}
.s-toggle .sketch {
  font-size: 23px;
}
.s-toggle .keyboard {
  font-size: 23px;
}
.feature-right {
  display: flex;
  column-gap: 4px;
}
.feature-right div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
}
.feature-right div i {
  font-size: 25px;
}
.feature-btns {
  display: flex;
  column-gap: 18px;
  align-items: center;
}

.f-download {
  color: #f5467e;
  border: 2px solid #f5467e;
  padding: 14px 36px;
  border-radius: 4px;
  background: white;
  font-size: 15px;
  cursor: pointer;
}
.f-add {
  background-color: #f5467e;
  border: 2px solid #f5467e;
  color: white;
  padding: 12px 26px;
  border-radius: 4px;
}

/* hero section responsive */
@media (max-width: 768px) {
  .hero h3 {
    font-size: 36px;
  }
  .hero p {
    font-size: 18px;
    line-height: 29px;
  }
  .hero h4 {
    font-size: 16px;
  }
  .f-add {
    display: none;
  }
  .signature-features {
    flex-direction: column;
    row-gap: 12px;
  }
}
@media (max-width: 520px) {
  .signature-container {
    width: 100%;
  }
  .hero h3 {
    font-size: 20px;
  }
}

/* signature-section */
.signature-section {
  padding: 0 10px;
  margin: 100px 0 60px;
}
.signature-top {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
}
.signature-top h4 {
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
  color: rgb(8, 65, 92);
  text-align: center;
}
.signature-top p {
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  color: rgb(8, 65, 92);
  text-align: center;
  max-width: 830px;
  margin: 0 auto;
}
.signature-top h5 {
  color: rgb(8, 65, 92);
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
}
.signature-bottom {
  margin-top: 37px;
}
.all-signature {
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 19px;
}
.single-signature {
}
.single-signature img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 5px;
}
.single-signature p {
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  color: rgb(8, 65, 92);
}

/*  signature section responsive*/
@media (max-width: 768px) {
  .signature-top h4 {
    font-size: 23px;
    line-height: 22px;
  }
  .signature-top p {
    font-size: 17px;
    line-height: 26px;
  }
  .signature-top h5 {
    font-size: 26px;
    line-height: 29px;
  }
  .all-signature {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .single-signature img {
    width: 100%;
  }
}

/* video-section */
.video-section {
  background-color: #f8f9fb;
}
.video {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 60px;
  padding: 60px 20px;
}
.video-left {
  position: relative;
  width: 60%;
  border-radius: 25px;
  overflow: hidden;
}
.video-left img {
}
.play-btn {
  position: absolute;
  height: 66px;
  width: 95px;
  left: 50%;
  display: flex;
  border-radius: 13px;
  top: 50%;
  background: #807e7e;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
}
.play-btn:hover {
  background-color: red;
}
.play-btn i {
  font-size: 47px;
}

.video-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.video-right h4 {
  font-size: 38px;
  line-height: 44px;
  color: rgb(8, 65, 92);
  font-family: "Geomanist";
  font-weight: 700;
}
.video-right p {
  color: rgb(8, 65, 92);
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
}

/* video section responsive */
@media (max-width: 1000px) {
  .video-right h4 {
    font-size: 31px;
    line-height: 36px;
  }
  .video-right p {
    font-size: 17px;
    line-height: 26px;
  }
  .video-right {
    row-gap: 21px;
  }
}
@media (max-width: 768px) {
  .video {
    flex-direction: column;
    row-gap: 62px;
  }
  .video-left {
    width: 100%;
  }
  .video-right {
    width: 100%;
  }
}

/* template-section */
.template-section {
}
.template {
  padding: 50px 5px;
}
.template-top {
  display: flex;
  flex-direction: column;
  row-gap: 23px;
}
.template-top h4 {
  font-size: 38px;
  line-height: 44px;
  color: rgb(8, 65, 92);
  font-weight: 600;
  font-family: "Geomanist";
  text-align: center;
}
.template-top p {
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  color: rgb(8, 65, 92);
  text-align: center;
}
.template-bottom {
  background-color: #f8f9fb;
  max-width: 1170px;
  margin: 0 auto;
  padding: 20px 20px;
  border-radius: 12px;
}
.all-template {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  padding: 16px;
}

.single-template {
  position: relative;
}

.single-template img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.single-template img:hover {
  transform: scale(1.05);
}

/* Styles for larger images */
.single-template.wide {
}

.single-template.tall {
  grid-row: auto/span 2;
}
